{% extends 'skeleton.html' %}


{% block title %}Справочник лекарств{% endblock%}

{% block header %}
    <div class="header-container">
        <div>
            <div class="header">
                <a class="header__logo" href="/"></a>
                <div class="header__menu">
                    <a href="/support" class="header__btn-all-services">Помощь</a>
                    <a href="/login" class="header__btn-login">Войти</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
<div class="columns-1" id="main-content" role="main"></div>
{% endblock %}

{% block footer %}
<div class="footer-container">
    <div class="footer__map ">
        <div class="footer__map-section footer__map-section-otpravlenia">
            <div class="footer__map-section-title">Заголовок 1</div>
            <ul class="footer__map-section-links">
                <li class="footer__map-section-link">
                    <a href="/" >Меню 1.1</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Меню 1.2</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Меню 1.3</a>
                </li>
            </ul>
        </div>

        <div class="footer__map-section footer__map-section-onlajn-uslugi">
            <div class="footer__map-section-title">Заголовок 2</div>
            <ul class="footer__map-section-links">
                <li class="footer__map-section-link">
                    <a href="/" >Меню 2.1</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Меню 2.2</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Меню 2.3</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Меню 2.4</a>
                </li>
            </ul>
        </div>

        <div class="footer__map-section footer__map-section-pomos-">
            <div class="footer__map-section-title">Помощь</div>
            <ul class="footer__map-section-links">
                <li class="footer__map-section-link">
                    <a href="/popular-questions" >Популярные вопросы</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/napisat-v-cat-podderzki" >Написать в чат поддержки</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/drugie-voprosy" >Другие вопросы</a>
                </li>
            </ul>
        </div>

        <div class="footer__map-section footer__map-section-o-kompanii1">
            <div class="footer__map-section-title">О компании</div>
            <ul class="footer__map-section-links">
                <li class="footer__map-section-link">
                    <a href="/news" >Новости</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/missia-kompanii" >Миссия компании</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/rukovodstvo" >Руководство</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/kontakty" >Контакты</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer">
        <div class="footer__copyright">{% now 'Y' %} &copy; Справочник лекарств</div>
        <div class="footer__menu">
            <div class="footer__socials">
                <a target="_blank" href="http://vk.com/drugs" class="footer__social-vk"></a>
                <a target="_blank" href="http://www.facebook.com/drugs?filter=2" class="footer__social-fb"></a>
                <a target="_blank" href="https://twitter.com/drugs" class="footer__social-twitter"></a>
            </div>
            <a href="/dlya-bisnessa" class="footer__menu-button" >
                <span> Для бизнеса </span>
            </a>
            <a href="/press-centr" class="footer__menu-button">
                <span> Пресс-центр </span>
            </a>
            <a href="/about" class="footer__menu-button" >
                <span> О компании </span>
            </a>
        </div>
    </div>
</div>
{% endblock %}