{% extends 'skeleton.html' %}


{% block title %}Справочник лекарств{% endblock%}

{% block header %}
    <div class="header-container">
        <div>
            <div class="header">
                <a class="header__logo" href="/"></a>
                <div class="header__menu">
                    <a href="/support" class="header__btn-all-services">Помощь</a>
                    <a href="/login" class="header__btn-login">Войти</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


<div class="columns-1" id="main-content" role="main">
    <div class="portlet-layout row-fluid">
        <div class="portlet-column portlet-column-only span12" id="column-1">
            <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-1">
                <div class="portlet-boundary portlet-boundary_trackingPortlet_WAR_portalportlet_ portlet-static portlet-static-end portlet-borderless " id="p_p_id_trackingPortlet_WAR_portalportlet_" >
                    <span id="p_trackingPortlet_WAR_portalportlet"></span>
                    <div class="portlet-borderless-container" style="">
                        <div class="portlet-body">
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% block footer %}
<div class="footer-container">
    <div class="footer__map ">
        <div class="footer__map-section footer__map-section-otpravlenia">
            <div class="footer__map-section-title">Энциклопедия лекарств</div>
            <ul class="footer__map-section-links">
                <li class="footer__map-section-link">
                    <a href="{% url 'alphabet' %}">Алфавитный указатель</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Действующие вещества</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Взаимодействие лекарств</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Лекарственные формы</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Справочник болезней</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >АТХ классификация</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Фармакологические группы</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Фармакологическое действие</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Производители лекарств</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Контроль подлинности упаковок по 3D</a>
                </li>
            </ul>
        </div>

        <div class="footer__map-section footer__map-section-onlajn-uslugi">
            <div class="footer__map-section-title">Энциклопедия БАД</div>
            <ul class="footer__map-section-links">
                <li class="footer__map-section-link">
                    <a href="/" >Справочник БАД</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Классификация БАД</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Меню 2.3</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/" >Меню 2.4</a>
                </li>
            </ul>
        </div>

        <div class="footer__map-section footer__map-section-pomos-">
            <div class="footer__map-section-title">Новости и события</div>
            <ul class="footer__map-section-links">
                <li class="footer__map-section-link">
                    <a href="/">Новости</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/">Календарь событий</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/drugie-voprosy">Другие вопросы</a>
                </li>
            </ul>
        </div>

        <div class="footer__map-section footer__map-section-o-kompanii1">
            <div class="footer__map-section-title">О компании</div>
            <ul class="footer__map-section-links">
                <li class="footer__map-section-link">
                    <a href="/missia-kompanii">Миссия компании</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/rukovodstvo">Руководство</a>
                </li>
                <li class="footer__map-section-link">
                    <a href="/kontakty">Контакты</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer">
        <div class="footer__copyright">{% now 'Y' %} &copy; Справочник лекарств</div>
        <div class="footer__menu">
            <div class="footer__socials">
                <a target="_blank" href="http://vk.com/drugs" class="footer__social-vk"></a>
                <a target="_blank" href="http://www.facebook.com/drugs?filter=2" class="footer__social-fb"></a>
                <a target="_blank" href="https://twitter.com/drugs" class="footer__social-twitter"></a>
            </div>
            <a href="/dlya-bisnessa" class="footer__menu-button" >
                <span> Для бизнеса </span>
            </a>
            <a href="/press-centr" class="footer__menu-button">
                <span> Пресс-центр </span>
            </a>
            <a href="/about" class="footer__menu-button" >
                <span> О компании </span>
            </a>
        </div>
    </div>
</div>
{% endblock %}